html, body {
  background-color: #F0F0F0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  max-width: 960px;
  margin-top: 2rem;
  display: flex;
}

.section-left {
  width: 100%;
  margin-right: 2rem;
  height: 100%;
}

.section-right {
  width: 100%;
  height: 100%;
}

.form-check {
  margin-left: 2rem;
  margin-top: 2px;
}
.form-check-label {
  font-size: 1rem;
  margin-left: 3px;
}

h1 {
  text-shadow: black 0em 0em 0.2em;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
}
