body {
  background-color: #F0F0F0;
}

.container {
  max-width: 960px;
  margin-top: 2rem;
  display: flex;
}

.section-left {
  width: 100%;
  margin-right: 2rem;
}

.section-right {
  width: 100%;
}

h1 {
  text-shadow: black 0em 0em 0.2em;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
}